@config '../../../../tailwind.config.js'

@tailwind base;
@tailwind components;
@tailwind utilities;

.split-pane-col {
  height: 100vh;
  @apply flex;
  @apply flex-col;
}

.split-pane-row {
  width: 100vw;
  /* height: 100vh; */
  height: 100%;
  @apply flex;
  @apply flex-row;
}

.split-pane-top,
.split-pane-bottom,
.split-pane-right ,
.split-pane-left {
  @apply flex-1;
  @apply overflow-scroll;
  /* width: 100%; */
}

.split-pane-top,
.split-pane-bottom {
  text-align: left;
  padding: theme(spacing[sm]);
}

.split-pane-bottom {
  @apply bg-connection;
}

.separator-col {
  @apply border-lining;
  @apply border;
  cursor: col-resize;
}

.separator-row {
  @apply border-lining;
  @apply border;
  cursor: row-resize;
}
