@config '../../../tailwind.config.js'
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button_text {
    @apply text-sm;
    @apply text-base_white;
  }

  .handle {
    @apply bg-connection;
    @apply w-3;
    @apply h-3;
    @apply inline-block;
    @apply mr-1;
    cursor: 'move';
  }

  .icon_button {
    width: theme(spacing.sm);
  }
}
