@tailwind base;
@tailwind components;
@tailwind utilities;

.draw-circle {
  @apply absolute;
  @apply right-0;
  @apply opacity-0;
  @apply hover:opacity-100;
  @apply z-40;
}

.draw-circle-t {
  margin-top: calc(-3 * theme(spacing[xxs]));
  margin-left: calc(-2.5 * theme(spacing[xxs]));
  width: 10px;
  height: 10px;
}

.draw-circle-l {
  margin-top: calc(-3 * theme(spacing[xxs]));
  margin-left: calc(-2.5 * theme(spacing[xxs]));
  width: 10px;
  height: 10px;
}
.draw-circle-b {
  margin-bottom: calc(theme(spacing[xxs]));
  margin-left: calc(-2.5 * theme(spacing[xxs]));
  width: 10px;
  height: 10px;
}
.draw-circle-r {
  margin-top: calc(-3 * theme(spacing[xxs]));
  margin-right: calc(theme(spacing[xxs]));
  width: 10px;
  height: 10px;
}

.pointer-pencil {
  cursor: url('../../theme/pencil_icon.png') 20 20, auto;
}
