@config '../tailwind.config.js';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  h1,
  h2,
  h3,
  p {
    @apply font-primary;
    color: theme(colors.base_black);
  }

  [contenteditable]:read-write:focus {
    outline: none;
  }

  h1 {
    @apply text-xxl;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply font-bold;
  }

  h3 {
    @apply text-lg;
    @apply font-bold;
  }

  p {
    @apply text-md;
  }
}

.container {
  /* @apply bg-base_white; */
  @apply h-screen;
  @apply w-max;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5vh
}
